[submodule "1337 Multi OS Font Plugin"]
	path = 1337 Multi OS Font Plugin
	url = https://github.com/krischik/vim-fonts.git
[submodule "1352 Modelines Bundle"]
	path = 1352 Modelines Bundle
	url = https://github.com/krischik/vim-modelines.git
[submodule "1714 Tail Bundle"]
	path = 1714 Tail Bundle
	url = https://github.com/krischik/vim-tail.git
[submodule "2029 4NT Bundle"]
	path = 2029 4NT Bundle
	url = https://github.com/krischik/vim-btm.git
[submodule "1609 Ada Bundle"]
	path = 1609 Ada Bundle
	url = https://github.com/krischik/vim-ada.git
[submodule "1561 Rainbow Parenthsis Bundle"]
	path = 1561 Rainbow Parenthsis Bundle
	url = https://github.com/krischik/vim-rainbow.git
[submodule "1538 Martin Krischik Color Scheme"]
	path = 1538 Martin Krischik Color Scheme
	url = https://github.com/krischik/vim-colors.git
[submodule "1537 Numbered Backups"]
	path = 1537 Numbered Backups
	url = https://github.com/krischik/vim-backup.git
[submodule "0118 A shell buffer in vim"]
	path = 0118 A shell buffer in vim
	url = https://github.com/krischik/vim-shell.git
[submodule "1379 Motif UIL Syntax"]
	path = 1379 Motif UIL Syntax
	url = https://github.com/krischik/vim-uil.git
[submodule "1719 WLS Mode"]
	path = 1719 WLS Mode
	url = https://github.com/krischik/vim-wls
[submodule "1768 SnipSnap"]
	path = 1768 SnipSnap
	url = https://github.com/krischik/vim-snipsnap.git
[submodule "6029 MOS 6502 Assembler"]
	path = 6029 MOS 6502 Assembler
	url = https://github.com/krischik/vim-asm_ca65.git
[submodule "6031 FX-602P Bundle"]
	path = 6031 FX-602P Bundle
	url = https://github.com/krischik/vim-fx602p.git
[submodule "Wiki"]
	path = Wiki
	url = https://github.com/krischik/vim-scripts.wiki.git
[submodule "pmdown"]
	path = pmdown
	url = https://github.com/krischik/pmdown.git
